.lurulvqi label{
	text-align: right;
}

.lurulvqi .mui-input-row label.zuizhonglurubianma{
	color: red;
	font-weight: bold;
}
.lurulvqi .mui-input-row label.youbian,.lurulvqi .mui-input-row label.zuizhonglurubianma{
	width: 65%;
}
.dianjixuanze,.jianyanjigou{
	background: #f0ad4e;
	color: white;
	border-radius:3px ;
	padding: 4px 8px;
	margin-left: 14px;
}

.mui-input-group .mui-button-row{
	height: 60px;
}
#querenquyu{
	margin-top: 20px;
}

#chanpinxinghao{
	position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
}
#fuchangjianyanriqi{
	visibility: hidden;
}
