#tuichu {
	font-size: 12px;
}

.tou-box {
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, .3);*/
	padding: 24px 0px;
	/*background-color: rgba(53,157,255,1);*/
	background-image:url(../image/gerenzhongxin.jpg) ;
	background-size:100% 100%;
}

#touxiang {
	max-width: 60px;
	width: 60px;
	height: 60px;
}

#bianjiziliao {
	font-size: 12px;
	position: absolute;
	right: 5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.qiye-list{
	background-color: white !important;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border: none;
}
body{
	background-color: white;
}
#zaiyanchanpin{
	color: cornflowerblue;
	
}
#hegechanpin{
	color: seagreen;
	
}
#zhizuohegezheng{
	color: chocolate;
	
}
#dayinhegezheng{
	color: mediumpurple;
	
}
#genggaihegezheng{
	color: chocolate;
	
}
#qiyexinxi{
	color: mediumpurple;
	
}
#xiugaimima{
	color: seagreen;
	
}
#caozuorizhi{
	color: cornflowerblue;
	
}
#bangdingweixin{
	color: yellowgreen;
}

.qiye-xuhao{
	top:20% !important;
	right: 14% !important;
}

#yuancailiaokucun{
	color: #43928B;
}
#lurulvqi{
	color: #797618;
}
#xiaoxi{
	color: dodgerblue;
}
#yuancailiaorizhi{
	color: brown;
}
#zhikucun{
	color: #3E5C9A;
}
.mui-table-view.mui-grid-view .mui-table-view-cell.msx-li-item-chaochu-xianshi a{
	overflow: initial;
    white-space: initial;
}
.mui-table-view.mui-grid-view .mui-table-view-cell.msx-li-item-chaochu-xianshi div.mui-media-body{
	width: 120%;
    text-align: center;
    margin-left: -10%;
}

.mui-table-view.mui-grid-view .mui-table-view-cell.yincangcaidan{
	display: none;
}
