
@font-face {font-family: "iconfont";

src: url('../fonts/saoma.eot?t=1498100790755'); /* IE9*/
  src: url('../fonts/saoma.eot?t=1498100790755#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saoma.woff?t=1498100790755') format('woff'), /* chrome, firefox */
  url('../fonts/saoma.ttf?t=1498100790755') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/saoma.svg?t=1498100790755#iconfont') format('svg'); /* iOS 4.1- */

}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
}

.icon-saoma:before { content: "\e60b"; }

