<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>常见问题</title>
		<link rel="stylesheet" type="text/css" href="ziyuan/mui.css" />
	</head>

	<body>
		<div class="mui-content">
			<header class="mui-bar mui-bar-nav">
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			    <h1 class="mui-title">常见问题</h1>
			</header>
			<br />
			<p>　常见问题</p>
			<ul class="mui-table-view msx-m-t-n" id="list-box">
				
				<li class="mui-table-view-cell" onclick="neirongxiangqing(<%= data[i].ContentId %>);" tapmode>
						<a class="mui-navigate-right">
							收到商品有问题如何处理
						</a>
					</li>
				<li class="mui-table-view-cell" onclick="neirongxiangqing(<%= data[i].ContentId %>);" tapmode>
						<a class="mui-navigate-right">
							商品不满意如何退货
						</a>
					</li>
				<li class="mui-table-view-cell" onclick="neirongxiangqing(<%= data[i].ContentId %>);" tapmode>
						<a class="mui-navigate-right">
							疑似盗版问题，如何处理
						</a>
					</li>
				<li class="mui-table-view-cell" onclick="neirongxiangqing(<%= data[i].ContentId %>);" tapmode>
						<a class="mui-navigate-right">
							没有找到订单
						</a>
					</li>
				<li class="mui-table-view-cell" onclick="neirongxiangqing(<%= data[i].ContentId %>);" tapmode>
						<a class="mui-navigate-right">
							如何拼团
						</a>
					</li>
				
				
			</ul>
		</div>
		
		
		
		
		
	</body>
</html>