<!DOCTYPE html>
<html lang="zh-CN" style="background-color: rgb(255, 255, 255);">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta id="viewport" name="viewport" content="width=320,initial-scale=1.171875,maximum-scale=1.171875, minimum-scale=1.171875, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta name="keywords" content="百姓商城">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<script type="text/javascript">
			var ismobile = /Mobile/.test(navigator.userAgent);
			if(ismobile && !(self.frameElement && self.frameElement.tagName == "IFRAME")) { //在手机上且不在iframe里
				var winw = window.screen.availWidth,
					scale_w = winw / 320;
				document.getElementById('viewport').content = "width=320,initial-scale=" + scale_w + ",maximum-scale=" + scale_w + ", minimum-scale=" + scale_w + ", user-scalable=no";
			} else {
				window.onload = function() {
					var st = document.createElement('style');
					st.type = "text/css";
					st.innerHTML = 'body{width:320px;margin:0 auto;}';
					document.head.appendChild(st);
				}
			}
			if(/iphone/i.test(navigator.userAgent) && self.frameElement && self.frameElement.tagName == "IFRAME") { //在iPhone的iframe里时
				window.onload = function() {
					var style = document.createElement('style');
					style.type = "text/css";
					style.innerHTML = 'body{width:320px;margin:0 auto;height:' + window.innerHeight + 'px;overflow-y: auto;overflow-x: hidden;}';
					document.head.appendChild(style);
				}
			}
		</script>
		<script src="../js/config.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="./ziyuan/slick_theme.css">
		<link rel="stylesheet" type="text/css" href="./ziyuan/animation_library.css">
		<link rel="stylesheet" type="text/css" href="./ziyuan/icomoon.css">
		<link rel="stylesheet" type="text/css" href="./ziyuan/component.css">
		<link rel="stylesheet" type="text/css" href="./ziyuan/photoswipe.css">
		<link rel="stylesheet" type="text/css" href="./ziyuan/default-skin.css">
		<link rel="stylesheet" type="text/css" href="./ziyuan/webapp.css">
		<link rel="stylesheet" type="text/css" href="ziyuan/tongyong.css"/>
		<link rel="stylesheet" type="text/css" href="ziyuan/mui.css"/>
		
		<title>我的粉丝</title>



		<style rel="sheetstyle">
			body::-webkit-scrollbar,
			div::-webkit-scrollbar,
			p::-webkit-scrollbar,
			textarea::-webkit-scrollbar,
			section::-webkit-scrollbar,
			ul::-webkit-scrollbar,
			iframe::-webkit-scrollbar {
				width: 0px;
				height: 0;
			}
			.zanwuneirong{
					    text-align: center;
    height: 100px;
    line-height: 100px;
    background: white;
				}
			.name{
				font-weight: bold;
			}
		</style>
	</head>

	<body class="app width-marketing-bar">
		
		<header class="mui-bar mui-bar-nav">
			<a onclick="msxBackMember()" class="mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 class="mui-title">我关注的人</h1>
		</header>
		
		<div class="page-container-parent">
			<div id="page-container" class="page-container">
				
				
				
		<div class="mui-content" style="margin-top: 50px;">
			<style type="text/css">
				.touxiang{
					border-radius: 25px;
				}
				.guanzhu,.yiguanzhu{
					    position: absolute;
    right: 39px;
    top: 31%;
    background-color: red;
    color: white;
    border-radius: 4px;
    line-height: 27px;
    padding: 0px 15px 0px 15px;
    font-size: 12px;
				}
				.yiguanzhu{
					background-color: #eee;
					color: white;
				}
			</style>
			
			<div id="list-box">
				
			</div>
			
			
			<script type="text/html" id="list-tp">
				<% if( data.length <= 0 ){ %>
					<div class="zanwuneirong">
						暂无内容
					</div>
				<% }else{ %>
					<ul class="mui-table-view mui-table-view-chevron">
					<% for( i=0;i<data.length;i++ ){ %>
					<li onclick="msxGerenzhuye(<%= data[i].fensi_info.member_id %>)" class="mui-table-view-cell mui-media">
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left touxiang" src="<%= data[i].fensi_info.member_avatar %>">
							<div class="mui-media-body">
								<span class="name"><%= data[i].fensi_info.member_nickname %></span>
								<p class="mui-ellipsis">粉丝数：<%= data[i].fensi_info.fensishu %></p>
							</div>
							<% if(data[i].is_guanzhu==1){ %>
							<div class="yiguanzhu" onclick="guanzhu(this)" data-type="<%= data[i].is_guanzhu %>" data-member-id="<%= data[i].fensi_info.member_id %>">
								已关注
							</div>
							<% }else{ %>
							<div class="guanzhu" onclick="guanzhu(this)" data-type="<%= data[i].is_guanzhu %>" data-member-id="<%= data[i].fensi_info.member_id %>">
								关注
							</div>
							<% } %>
						</a>
					</li>
					<% } %>
					</ul>
				<% } %>
			</script>
				

			
		</div>
				
				

				
				
				
				
				

			</div>

		</div>

	</body>

</html>

<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="ziyuan/mui.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
<script src="js/wodeguanzhu.js" type="text/javascript" charset="utf-8"></script>