.mui-off-canvas-left, .mui-off-canvas-right{
	background: white;
}
.mui-input-row .search-title{
	padding: 11px 10px 11px 0px;
}
.caozuo-title{
	padding: 6px 0px;
}
.weidayin{
	color: red;
}
.yidayin{
	color: yellowgreen;
}


/*用于菜单栏固定位置*/

#offCanvasWrapper{
	position: initial;
}
body{
	overflow-x: hidden !important;
}
html{
	overflow-x: hidden !important;
}