.mimatishi{
	color: red;
	font-size: 12px;
	text-align: center;
	display: block;
}
.mui-input-row label{
	text-align: right;
	padding-right: 20px;
}
.mui-button-row{
	margin: 20px 0px;
}
.tishi{
	color: red;
	font-size: 12px;
	text-align: center;
}

.mui-card{
	width: 44%;
	display: inline-block;
	margin: 7px;
	margin-left: 8px;
}
.mui-card-header{
	display: block;
}
.mui-card-header-item{
	text-align: center;
	padding-bottom: 4px;
}
.title{
	    margin: 20px 15px 7px;
    color: red;
    font-size: 15px;
}


#list-box{
	margin-bottom: 20px;
}
#zhongyaoxinxi{
	width: initial;
	margin-right: 1rem;
}
#zhongyaoxinxi .mui-card-header{
	font-size: 12px;
	color: red;
	text-align: center;
}
#zhongyaoxinxi .mui-card-content{
	border-top: 1px solid #DDD;
	font-weight: bold;
	color: darkred;
}
.yincangde{
	display: none;
}
.mui-popup-title+.mui-popup-text{
	text-align: left;
}
