.xinxi-list{
	background: white !important;
	margin-top: 0px !important;
}
#gonggaogongshi{
	color: cornflowerblue;
}
#zuzhijiagou{
	color: seagreen;
}
#qiyechengnuoshu{
	color: chocolate;
}
#zilvgongyue{
	color: mediumpurple;
}
#guanyuxiehui{
	color: chocolate;
	
}
#hangyezixun{
	color: mediumpurple;
	
}
#shichangweiquan{
	color: seagreen;
	
}
#falvfagui{
	color: cornflowerblue;
	
}
#jiahuozhenbie{
	color: chocolate;
	
}
#dajialiucheng{
	color: seagreen;
	
}
#jubaozhongxin{
	color: red;
}
#yijianjianyi{
	color: #20B2AA;
}