@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?2b549l');
  src:  url('icomoon.eot?2b549l#iefix') format('embedded-opentype'),
    url('icomoon.ttf?2b549l') format('truetype'),
    url('icomoon.woff?2b549l') format('woff'),
    url('icomoon.svg?2b549l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-full-weixin:before {
  content: "\e949";
}
.icon-goods-location:before {
  content: "\e948";
}
.icon-shopping-cart-delete:before {
  content: "\e947";
}
.icon-shopping-scan:before {
  content: "\e912";
}
.icon-goods-add-image:before {
  content: "\e946";
}
.icon-news-videodetail:before {
  content: "\e911";
}
.icon-alipay:before {
  content: "\e93d";
}
.icon-franchisee-cart:before {
  content: "\e93e";
}
.icon-franchisee-community:before {
  content: "\e93f";
}
.icon-franchisee-index:before {
  content: "\e940";
}
.icon-franchisee-my:before {
  content: "\e941";
}
.icon-franchisee-wifi:before {
  content: "\e942";
}
.icon-pack:before {
  content: "\e943";
}
.icon-time:before {
  content: "\e944";
}
.icon-weixin:before {
  content: "\e945";
}
.icon-red-envelope:before {
  content: "\e900";
}
.icon-news-community:before {
  content: "\e901";
}
.icon-news-news:before {
  content: "\e902";
}
.icon-news-topic:before {
  content: "\e903";
}
.icon-thumb-empty:before {
  content: "\e904";
}
.icon-thumb:before {
  content: "\e905";
}
.icon-smiley-empty:before {
  content: "\e906";
}
.icon-smiley:before {
  content: "\e907";
}
.icon-row-number-fee:before {
  content: "\e908";
}
.icon-row-number-type:before {
  content: "\e909";
}
.icon-row-number-refresh:before {
  content: "\e90a";
}
.icon-mine-row-number:before {
  content: "\e90b";
}
.icon-row-number-wait:before {
  content: "\e90c";
}
.icon-news-video-play:before {
  content: "\e90d";
}
.icon-news-collect:before {
  content: "\e90e";
}
.icon-news-video-mask:before {
  content: "\e90f";
}
.icon-big-pic:before {
  content: "\e910";
}
.icon-news-to-page:before {
  content: "\e913";
}
.icon-news-up:before {
  content: "\e914";
}
.icon-news-down:before {
  content: "\e915";
}
.icon-community-location:before {
  content: "\e916";
}
.icon-community_notify:before {
  content: "\e917";
}
.icon-community-go-top:before {
  content: "\e918";
}
.icon-community-edit:before {
  content: "\e919";
}
.icon-community-ai:before {
  content: "\e91a";
}
.icon-community_praise_fill:before {
  content: "\e91b";
}
.icon-community_view:before {
  content: "\e91c";
}
.icon-community_share:before {
  content: "\e91d";
}
.icon-community_praise:before {
  content: "\e91e";
}
.icon-community_message:before {
  content: "\e91f";
}
.icon-filter-down:before {
  content: "\e920";
}
.icon-filter-f:before {
  content: "\e921";
}
.icon-filter-up:before {
  content: "\e922";
}
.icon-list-block:before {
  content: "\e923";
}
.icon-list-vertical:before {
  content: "\e924";
}
.icon-new-goods-shopping:before {
  content: "\e925";
}
.icon-news-add:before {
  content: "\e926";
}
.icon-news-callphone:before {
  content: "\e927";
}
.icon-news-storage:before {
  content: "\e928";
}
.icon-news-bigpicture:before {
  content: "\e929";
}
.icon-news-business:before {
  content: "\e92a";
}
.icon-news-coupon:before {
  content: "\e92b";
}
.icon-news-custom:before {
  content: "\e92c";
}
.icon-news-extension:before {
  content: "\e92d";
}
.icon-news-goldegg:before {
  content: "\e92e";
}
.icon-news-goodsdetail:before {
  content: "\e92f";
}
.icon-news-jump:before {
  content: "\e930";
}
.icon-news-kill:before {
  content: "\e931";
}
.icon-news-payment:before {
  content: "\e932";
}
.icon-news-popup:before {
  content: "\e933";
}
.icon-news-refreshlist:before {
  content: "\e934";
}
.icon-news-refreshpage:before {
  content: "\e935";
}
.icon-news-scratch:before {
  content: "\e936";
}
.icon-news-sharecircle:before {
  content: "\e937";
}
.icon-news-sharefriends:before {
  content: "\e938";
}
.icon-news-top:before {
  content: "\e939";
}
.icon-news-turntable:before {
  content: "\e93a";
}
.icon-news-wifi:before {
  content: "\e93b";
}
.icon-community-view_fill:before {
  content: "\e93c";
}
.icon-addshoppingcart4:before {
  content: "\e9aa";
}
.icon-addshoppingcart2:before {
  content: "\e9ab";
}
.icon-addshoppingcart1:before {
  content: "\e9ac";
}
.icon-addshoppingcart3:before {
  content: "\e9ad";
}
.icon-lucky-wheel:before {
  content: "\e9ae";
}
.icon-video-collect:before {
  content: "\e9af";
}
.icon-announce1:before {
  content: "\e9b0";
}
.icon-announce2:before {
  content: "\e9b1";
}
.icon-announce3:before {
  content: "\e9b2";
}
.icon-announce4:before {
  content: "\e9b3";
}
.icon-no-criticism:before {
  content: "\e9b4";
}
.icon-promotionusercenter:before {
  content: "\e9b5";
}
.icon-weixin-pay:before {
  content: "\e9b6";
}
.icon-bbs-avatar:before {
  content: "\e9b7";
}
.icon-bbs-comment:before {
  content: "\e9b8";
}
.icon-bbs-share:before {
  content: "\e9b9";
}
.icon-community-default_image:before {
  content: "\e9ba";
}
.icon-form-info:before {
  content: "\e9bb";
}
.icon-community_usercenter:before {
  content: "\e9bd";
}
.icon-back-to-home:before {
  content: "\e9be";
}
.icon-franchisee-manager:before {
  content: "\e9bf";
}
.icon-community_like_fill:before {
  content: "\e9c0";
}
.icon-community_like:before {
  content: "\e9c1";
}
.icon-community_message_fill:before {
  content: "\e9c2";
}
.icon-community_mine:before {
  content: "\e9c4";
}
.icon-community_remind:before {
  content: "\e9c7";
}
.icon-community_share_fill:before {
  content: "\e9c8";
}
.icon-like:before {
  content: "\e9ca";
}
.icon-like_fill:before {
  content: "\e9cb";
}
.icon-message:before {
  content: "\e9cc";
}
.icon-message_fill:before {
  content: "\e9cd";
}
.icon-mine:before {
  content: "\e9ce";
}
.icon-praise:before {
  content: "\e9cf";
}
.icon-praise_fill:before {
  content: "\e9d0";
}
.icon-remind:before {
  content: "\e9d1";
}
.icon-share:before {
  content: "\e9d2";
}
.icon-share_fill:before {
  content: "\e9d3";
}
.icon-community-stop:before {
  content: "\e9d4";
}
.icon-franchisee-restaurant:before {
  content: "\e9d5";
}
.icon-franchisee-waimai:before {
  content: "\e9d6";
}
.icon-franchisee-store:before {
  content: "\e9d7";
}
.icon-franchisee-shop:before {
  content: "\e9d8";
}
.icon-franchisee-intro:before {
  content: "\e9d9";
}
.icon-franchisee-picture:before {
  content: "\e9da";
}
.icon-franchisee-service:before {
  content: "\e9db";
}
.icon-franchisee-share:before {
  content: "\e9dc";
}
.icon-franchisee-goods:before {
  content: "\e9dd";
}
.icon-franchisee-tostore:before {
  content: "\e9de";
}
.icon-community-category:before {
  content: "\e9df";
}
.icon-community-thumb-up:before {
  content: "\e9e1";
}
.icon-community-share:before {
  content: "\e9e3";
}
.icon-for-notice:before {
  content: "\e9e4";
}
.icon-community-report:before {
  content: "\e9e6";
}
.icon-community-sort:before {
  content: "\e9e8";
}
.icon-community-friend:before {
  content: "\e9e9";
}
.icon-community-comment:before {
  content: "\e9ea";
}
.icon-promotionusercenter2:before {
  content: "\e9eb";
}
.icon-relocate:before {
  content: "\e9ec";
}
.icon-success-tip:before {
  content: "\e9ed";
}
.icon-close-btn:before {
  content: "\e9ee";
}
.icon-for-help:before {
  content: "\e9ef";
}
.icon-danmu-send:before {
  content: "\e9f0";
}
.icon-luckyMute:before {
  content: "\e9f1";
}
.icon-share-v:before {
  content: "\e9f2";
}
.icon-eye:before {
  content: "\e9f3";
}
.icon-franchisee-environment:before {
  content: "\e9f4";
}
.icon-play:before {
  content: "\e9f5";
}
.icon-collect:before {
  content: "\e9f6";
}
.icon-collect-solid:before {
  content: "\e9f7";
}
.icon-consult:before {
  content: "\e9f8";
}
.icon-shoppingcart:before {
  content: "\e9f9";
}
.icon-tostoreBusinessSure:before {
  content: "\e9fa";
}
.icon-pendingPayment:before {
  content: "\e9fb";
}
.icon-beEvaluated:before {
  content: "\e9fc";
}
.icon-beReceived:before {
  content: "\e9fd";
}
.icon-tostoreBadComment:before {
  content: "\e9fe";
}
.icon-tostoreGoodComment:before {
  content: "\e9ff";
}
.icon-tostoreMiddleComment:before {
  content: "\ea00";
}
.icon-beConfirmed:before {
  content: "\ea01";
}
.icon-beDelivered:before {
  content: "\ea02";
}
.icon-luckyMusic:before {
  content: "\ea03";
}
.icon-promotion-dealer:before {
  content: "\ea04";
}
.icon-promotion-shareholder:before {
  content: "\ea05";
}
.icon-promotion-head:before {
  content: "\ea06";
}
.icon-winningRecord2:before {
  content: "\ea07";
}
.icon-good-comment:before {
  content: "\ea08";
}
.icon-good-detail:before {
  content: "\ea09";
}
.icon-share-new:before {
  content: "\ea0a";
}
.icon-qrcode-new:before {
  content: "\ea0b";
}
.icon-my-promotion:before {
  content: "\ea0c";
}
.icon-promotion-commission:before {
  content: "\ea0d";
}
.icon-promotion-goods:before {
  content: "\ea0e";
}
.icon-promotion-my-team:before {
  content: "\ea0f";
}
.icon-promotion-record:before {
  content: "\ea10";
}
.icon-promotion-shop-setting:before {
  content: "\ea11";
}
.icon-addassessimg:before {
  content: "\ea12";
}
.icon-fullstar:before {
  content: "\ea13";
}
.icon-emptystar:before {
  content: "\ea14";
}
.icon-takeout-cellphone:before {
  content: "\ea15";
}
.icon-store2:before {
  content: "\ea16";
}
.icon-share2:before {
  content: "\ea17";
}
.icon-sales-num:before {
  content: "\ea18";
}
.icon-satisfied:before {
  content: "\ea19";
}
.icon-dissatisfied:before {
  content: "\ea1a";
}
.icon-commonly:before {
  content: "\ea1b";
}
.icon-distribution:before {
  content: "\ea1c";
}
.icon-tokeout-info:before {
  content: "\ea1d";
}
.icon-business-time:before {
  content: "\ea1e";
}
.icon-tokeout-phone:before {
  content: "\ea1f";
}
.icon-tokeout-mobile:before {
  content: "\ea20";
}
.icon-wifi:before {
  content: "\ea21";
}
.icon-gou:before {
  content: "\ea22";
}
.icon-plus:before {
  content: "\ea23";
}
.icon-shoppingCart2:before {
  content: "\ea24";
}
.icon-store:before {
  content: "\ea25";
}
.icon-balance2:before {
  content: "\ea26";
}
.icon-reply:before {
  content: "\ea27";
}
.icon-comment55:before {
  content: "\ea28";
}
.icon-Interactive-message:before {
  content: "\ea29";
}
.icon-vip-card:before {
  content: "\ea2a";
}
.icon-addshoppingcart:before {
  content: "\ea2b";
}
.icon-integral2:before {
  content: "\ea2c";
}
.icon-location:before {
  content: "\ea2d";
}
.icon-service2:before {
  content: "\ea2e";
}
.icon-top:before {
  content: "\ea2f";
}
.icon-refunds:before {
  content: "\ea30";
}
.icon-phone:before {
  content: "\ea31";
}
.icon-videousercenter:before {
  content: "\ea32";
}
.icon-comment-bottom:before {
  content: "\ea33";
}
.icon-delete:before {
  content: "\ea34";
}
.icon-winningRecord:before {
  content: "\ea35";
}
.icon-edit:before {
  content: "\ea36";
}
.icon-like-solid:before {
  content: "\ea37";
}
.icon-balance:before {
  content: "\ea38";
}
.icon-usercenter:before {
  content: "\ea39";
}
.icon-recharge:before {
  content: "\ea3a";
}
.icon-downarrow:before {
  content: "\ea3b";
}
.icon-uparrow:before {
  content: "\ea3c";
}
.icon-coupon2:before {
  content: "\ea3d";
}
.icon-pending-delivery:before {
  content: "\ea3e";
}
.icon-vip-card2:before {
  content: "\ea3f";
}
.icon-like2:before {
  content: "\ea40";
}
.icon-pending-payment:before {
  content: "\ea41";
}
.icon-comment:before {
  content: "\ea42";
}
.icon-fire:before {
  content: "\ea43";
}
.icon-pending-order:before {
  content: "\ea44";
}
.icon-image:before {
  content: "\ea45";
}
.icon-pending-evaluate:before {
  content: "\ea46";
}
.icon-publish:before {
  content: "\ea47";
}
.icon-pending-confirm-receipt:before {
  content: "\ea48";
}
.icon-smilingface:before {
  content: "\ea49";
}
.icon-pending-receipt:before {
  content: "\ea4a";
}
.icon-topic:before {
  content: "\ea4b";
}
.icon-pending-delivery-meal:before {
  content: "\ea4c";
}
.icon-notify2:before {
  content: "\ea4d";
}
.icon-pending-consum:before {
  content: "\ea4e";
}
.icon-message-form:before {
  content: "\ea4f";
}
.icon-message-comment:before {
  content: "\ea50";
}
.icon-Scratch:before {
  content: "\ea51";
}
.icon-message-pay:before {
  content: "\ea52";
}
.icon-integral:before {
  content: "\ea53";
}
.icon-heart-empty:before {
  content: "\ea54";
}
.icon-clubs:before {
  content: "\ea55";
}
.icon-integral-income:before {
  content: "\ea56";
}
.icon-clubs-empty:before {
  content: "\ea57";
}
.icon-star-empty:before {
  content: "\ea58";
}
.icon-commen-bottom:before {
  content: "\ea59";
}
.icon-integral-pay:before {
  content: "\ea5a";
}
.icon-comment-right:before {
  content: "\ea5b";
}
.icon-negative:before {
  content: "\ea5c";
}
.icon-negative-active:before {
  content: "\ea5d";
}
.icon-view-records:before {
  content: "\ea5e";
}
.icon-neutral-active:before {
  content: "\ea5f";
}
.icon-group-success:before {
  content: "\ea60";
}
.icon-positive:before {
  content: "\ea61";
}
.icon-positive-active:before {
  content: "\ea62";
}
.icon-star:before {
  content: "\ea63";
}
.icon-location2:before {
  content: "\ea64";
}
.icon-group-fail:before {
  content: "\ea65";
}
.icon-notebook:before {
  content: "\ea66";
}
.icon-shoppingcart2:before {
  content: "\ea67";
}
.icon-smileface:before {
  content: "\ea68";
}
.icon-picture:before {
  content: "\ea69";
}
.icon-all-order:before {
  content: "\ea6a";
}
.icon-heart:before {
  content: "\ea6b";
}
.icon-score:before {
  content: "\ea6c";
}
.icon-comment2:before {
  content: "\ea6d";
}
.icon-leftarrow:before {
  content: "\ea6e";
}
.icon-rightarrow:before {
  content: "\ea6f";
}
.icon-refund-audit:before {
  content: "\ea70";
}
.icon-search:before {
  content: "\ea71";
}
.icon-not-start-group:before {
  content: "\ea72";
}
.icon-service:before {
  content: "\ea73";
}
.icon-not-used:before {
  content: "\ea74";
}
.icon-fesphone:before {
  content: "\ea75";
}
.icon-group:before {
  content: "\ea76";
}
.icon-fesadress:before {
  content: "\ea77";
}
.icon-fesdown:before {
  content: "\ea78";
}
.icon-facetoface-pay:before {
  content: "\ea79";
}
.icon-fes_adress:before {
  content: "\ea7a";
}
.icon-notify:before {
  content: "\ea7b";
}
.icon-closes:before {
  content: "\ea7c";
}
.icon-verify:before {
  content: "\ea7d";
}
.icon-attestation:before {
  content: "\ea7e";
}
.icon-closed:before {
  content: "\ea7f";
}
.icon-group-buy:before {
  content: "\ea80";
}
.icon-has-confirm:before {
  content: "\ea81";
}
.icon-group-join:before {
  content: "\ea82";
}
.icon-invalid:before {
  content: "\ea83";
}
.icon-pic:before {
  content: "\ea84";
}
.icon-already-user:before {
  content: "\ea85";
}
.icon-bubble:before {
  content: "\ea86";
}
.icon-completed:before {
  content: "\ea87";
}
.icon-group-complete:before {
  content: "\ea88";
}
.icon-already-consumed:before {
  content: "\ea89";
}
.icon-group-pay:before {
  content: "\ea8a";
}
.icon-group-pay1:before {
  content: "\ea8b";
}
.icon-coupon:before {
  content: "\ea8c";
}
.icon-tokeout-discount:before {
  content: "\ea8d";
}
.icon-golden-eggs:before {
  content: "\ea8e";
}
.icon-tokeout-reduce:before {
  content: "\ea8f";
}
.icon-custom:before {
  content: "\ea90";
}
.icon-promotion-identity:before {
  content: "\ea91";
}
.icon-more:before {
  content: "\ea92";
}
.icon-takeout-replace:before {
  content: "\ea93";
}
.icon-telephone:before {
  content: "\ea94";
}
.icon-franchisee-video:before {
  content: "\ea95";
}
.icon-franchisee-booking:before {
  content: "\ea96";
}
.icon-franchisee-business:before {
  content: "\ea97";
}
.icon-franchisee-cate:before {
  content: "\ea98";
}
.icon-franchisee-coupon:before {
  content: "\ea99";
}
.icon-weixin-miniapp:before {
  content: "\ea9a";
}
.icon-list:before {
  content: "\ea9b";
}
.icon-franchisee-phone:before {
  content: "\ea9c";
}
.icon-man:before {
  content: "\ea9d";
}
.icon-franchisee-certif:before {
  content: "\ea9e";
}
.icon-new-share:before {
  content: "\ea9f";
}
.icon-filter:before {
  content: "\eaa0";
}
.icon-news-video:before {
  content: "\eaa1";
}
.icon-userCollect-fail:before {
  content: "\eaa2";
}
.icon-userCollect-farm:before {
  content: "\eaa3";
}
.icon-userCollect-success:before {
  content: "\eaa4";
}
.icon-userCollect-successS:before {
  content: "\eaa5";
}
.icon-delicious:before {
  content: "\eacd";
}
