#fenlei-box{
	margin: 5px 0px;
	float: left;
}
.fenlei-item{
	float: left;
    width: 67px;
    height: 66px;
    padding: 6px 0px;
    margin-right: 8px;
    background-color: rgba(91,153,210,1);
    margin-bottom: 8px;
}
.fenlei-item:nth-child(4n+0){
	margin-right: 0;
}
.fenlei-item-mig{
	    width: 67px;
    height: 49px;
    text-align: center;
}
.fenlei-item img{
	    width: 49px;
    height: 100%;
}

.fenlei-item p{
	    text-align: center;
    font-size: 14px;
    color: white;
}
