#fenlei-box{
	margin: 0px 13px;
	float: left;
}
.fenlei-item{
	float: left;
	width: 53px;
	height: 58px;
	padding: 0px 0px;
    margin-top: 6px;
}
.fenlei-item-mig{
	width: 53px;
	height: 37px;
	text-align: center;
}
.fenlei-item img{
	width:37px;
	height: 100%;
}

.fenlei-item p{
	text-align: center;
	font-size: 12px;
}
